@import url('https://fonts.goog leapis.com/css?family=Poppins:300,500,600,900');
*{
    outline:0;
}
html,body{
    font-family: 'Poppins', sans-serif !important;
}
/**********navbar**********/
.item img:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top:0;
    left:0;
}
.topNavbar {
    height: 90px;
    border-radius: 0;
    background: transparent;
    border:0;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right:0;
    z-index:1100;
    transition: .2s ease-in;
    display:flex;
    align-items: center;
}
.topNavbar.active-nav{
    background: white;
    box-shadow: 1px 0px 6px rgba(0,0,0,0.08);
}
.topNavbar .open a{
    background: transparent !important;
}
.topNavbar .dropdown-menu{
    border-radius: 4px !important;
    border:1px solid #f2f2f2;
}
.topNavbar .dropdown-menu a{
    color: #333 !important;
}
.navbar-nav{
    height: 100%;
}
.navbar-nav > li{
    height: 100%;
}
.topNavbar.active-nav .navbar-nav > li a{
    color: #333 !important;
}
.navbar-nav > li a{
    height: 100%;
    line-height: 30px;
    color:white !important;
    display: flex;
    align-items: center;
}
.navbar-nav > li.active a{
    background: transparent !important;
}
.navbar-header{
    height: 100%;
}
.navbar-brand{
    height: 100%;
    line-height: 30px;
    display: flex;
    align-items: center;
}
/************content**********/
.wrapper{
    width:100%;
}
/*************homepage************/

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0;
    top: 0;
    left: 0;
}
.single-featured {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    margin-bottom: 30px;
    height: 200px;
}
.single-featured .icon {
    background-color: #eee;
    width:100px;
    float: left;
    text-align: center;
    line-height: 180px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-featured .content {
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
    padding-right: 20px;
}
.single-featured .content h4 {
    color: #232323;
    font-weight: 600;
}
.single-featured .content p {
    margin-bottom: 15px;
}
.single-featured .content a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ae6ee8;
    transition: .4s;
}
.section-title h2 {
    font-weight: 700;
    font-size: 40px;
    color: #232323;
}
p.sub-title {
    color: #363636;
    font-size: 16px;
    margin: 0px 0 20px;
}
.mrgn-top-25{
    margin-top: 25px;
}
.contact-block{
    padding: 60px 0;
}
.contact-form{
    margin: 0;
}
.contact-form .form-control{
    background: #eee;
    border-radius: 0;
    border:0;
    margin-bottom: 20px;
    box-shadow: none !important;
}
.sbmt-btn {
    height: 50px;
    border-color: #26bd26;
    color: white;
    padding: 10px 50px;
    background: #26bd26;
}
.contact-form input.form-control{
    height: 50px;
}
#imageslider{
    height: 100vh;
    width: 100%
}
#imageslider .carousel-inner > .item > img:after{
    content:"";
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background: red;
}
.carousel-control {
    position: absolute;
    bottom: initial;
    top: 50%;
    width: 5%;
    font-size: 20px;
    color: #363636;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1;
    text-align: center;
    background: #fff !important;
    transform: translateY(-50%);
    /* padding: 20px 15px !important; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 59px;
    margin: 0 10px;
    font-size: 20px !important;
    border: 2px solid white;
    display: inline-block;
    padding-top: 15px;
}
.carousel-inner{
    height: 100%;
}
.section2{
    width: 100%;
    background: #fff;
    padding: 60px 0;
}
.title {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px;
}
.carousel-caption {
    padding-bottom: 30px;
    max-width: 990px;
    text-align: left;
    padding: 15px;
    margin: 0 auto;
    /* right: 0; */
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.carousel-caption h1,.carousel-caption p{
    color: #fff !important;
    text-shadow:none !important;
    margin: 5px 0 !important;
}
.carousel-caption h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 10px !important;
}
.carousel-caption p{
    margin: 0 0 20px !important;
    font-size: 16px;
}

.carousel-caption .btn{
    border-color: #fff !important;
    color: #fff !important;
    background: gray;
}
.panel.panel-default.product-box {
    border: 1px solid #f2f2f2;
}
.product-box .panel-footer {
    background-color: #f2f2f2;
    border-top: 1px solid #f2f2f2;
}
.btn-green {
    color: #333;
    background-color: #26e23d !important;
    border-color: #26e23d !important;
    height: auto;
    padding: 12px 30px;
}
.btn-datk-blue{
    color: #fff;
    background-color: #213786 !important;
    border-color: #213786 !important;
    height: 50px;
    padding: 15px 30px;
}
.bg-green {
    background: #2fa212;
    border: 1px solid green;
}
.calc-block label{
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
    color:#363636;
}
.calc-block .form-control{
    height:40px;
    border:1px solid    #ddd;
    margin-bottom: 15px;
    box-shadow: none !important;
    border-radius: 0;
}
.calc-block .custom-btn{
    height:40px;
    border:1px solid #005aa7;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: none !important;
    border-radius: 0;
    background: #005aa7;
    color: white;
}
i.fa.fa-check {
    margin-top: 0px;
    color: orange;
    font-size: 20px;
}
.w-block ul > li{
    margin: 5px 0;
}
.w-block ul{
}
.partners-block .panel-body{
    padding: 0;
}
div#imageslider1 {
    height: 215px;
}
.w-block ul p {
    font-size: 15px;
    font-weight: normal;
    color: #363636;
}
.c-w-block.ng-scope {
    padding: 60px 0;
    background: #eee;
}
.col-md-6.calc-block {
    padding: 0 70px 0 0;
}
.display-flex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.partners-block.ng-scope {
    padding: 40px 0;
    background: #eee;
}
ul.partners-block-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.brdr-btn {
    background: transparent;
    border: 0;
    padding: 13px 30px;
    background: #ff9900 !important;
    box-shadow: none !important;
}
i.circle-icon {
    font-size: 50px;
    border: 2px solid #10ffd3;
    height: 120px;
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    background: white;
    color: #10ffd3;
}
span.step-num {
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: white;
    margin: auto;
    top: -17px;
    border-radius: 50%;
}
/*************product page***********/
.col-md-6.emi-right.text-center {
    padding: 60px 0;
}
.p-relative{
    position: relative;
}
.banner {
    max-height: 700px;
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    position: relative;
}
.banner.partners{
    background-image: url('../../assets/images/adults-agreement-beverage-567633.jpg');
}
.banner.aboutUs{
    background-image: url('../../assets/images/business-confidence-corporate-776615.jpg');
}
.banner h1{
    font-size: 46px;
    margin  : 5px 0 15px;
    color: white;
    font-weight: bold;
}
.banner p {
    margin: 0 0 15px;
    font-size: 18px;
    color: white;
    letter-spacing: .3px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.banner-caption {
    text-align: center;
}
.about-loan-block{
    padding: 60px 0;
}
.loan-process-block {
    padding: 60px 0;
    background: #eee;
}
.process-block {
    padding: 60px 0 85px;
}
.w-v-block {
    padding: 60px 0;
}
.emi-blok{
    
}
.emi-blok .emi-left{
    background: url('../../assets/images/calc-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.col-md-6.emi-right.text-center {
    display: table-cell;
    text-align: center;
    width: 50%;
    float: none;
    background: #eee;
}
.emi-blok .emi-left {
    background: url(../../assets/images/calc-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    z-index: 1;
    padding: 60px 0;
    display: table-cell;
    width: 50%;
    float: none;
}
.display-table{
    display: table;
    width: 100%;
}
.emi-blok:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: -1;
    top: 0;
    left: 0;
}
.calc-box {
    width: 400px;
    margin: 0 auto;
    padding:25px;
    background: white;
    border-radius: 4px;
}
.calc-box .form-control{
    height: 50px;
    margin: 10px 0;
    border-radius: 0;
    box-shadow: none !important;
}
.calc-box .btn {
    padding: 15px;
    width: 100%;
    background: #5039af;
    border-color: #5b47cc;
    margin: 10px 0;
    border-radius: 0;
    color: white;
}
.loan-process-block ul > li,.w-v-block ul > li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 35px;
    background: url(https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_33-512.png) no-repeat left 2px;
    background-size: 16px auto;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}
.process-box p {
    color: #333;
    font-size: 16px;
}
.about-loan-block p {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin: 10px 0 0;
}
.about-loan-block h2 {
    margin: 15px 0;
    font-weight: bold;
    font-size: 32px;
    color: #666;
}
.about-loan-block h3 {
    color: #8c47a9;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}
ul.list-unstyled.process-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li.process-box {
    border: 1px solid #eee;
    padding: 40px 15px;
    width: 200px;
    text-align: center;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #eee;
    position: relative;
}
.product-query-block{
    padding: 60px 0;
    background: #eee;
}
h1.half-block-title {
    font-size: 22px;
    color: #777;
    margin-bottom: 20px;
    margin-top: 0;
}
.product-query-block button.btn.btn-default {
    padding: 15px 45px;
    border-radius: 0;
    border: 2px solid #ddd;
    background: white;
}
h1.block-title {
    font-size: 36px;
    color: #363636;
    margin-bottom: 20px;
    margin-top: 0;
}
span.count-box {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -25px;
    background: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    color: #000;
    border: 1px solid #eee;
}
/************partners**********/
.c-block{
    padding: 60px;
    background: #f0f0f5;
}
.d-block{
    padding: 60px;
    background: #eee;
}
.e-block{
    padding: 60px;
    background: #fff;
}
.query-contact-block{
    padding: 60px 0;
    background: #eee;
}
.query-contact-block button.btn.btn-default {
    padding: 15px 45px;
    border-radius: 0;
    border: 2px solid #ddd;
    background: white;
}
ul.process-list-partners {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li.process-box-partners{
    border: 1px solid #eee;
    padding: 40px 15px;
    width: 130px;
    text-align: center;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #eee;
    position: relative;
}
.c-block ul > li, .d-block ul > li, .e-block ul > li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 33px;
    background: url('../../assets/images/tick-inside-circle.png') no-repeat left 2px;
    background-size: 19px auto;
    font-size: 16px;
    color: #6a6a78;
    font-weight: 400;
}
/**************aboutus***********/
ul.check-list > li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 33px;
    background: url('../../assets/images/tick-inside-circle.png') no-repeat left 2px;
    background-size: 19px auto;
    font-size: 16px;
    color: #6a6a78;
    font-weight: 400;
}
.borrowrs-block{
    padding: 60px 0;
    background:#eee;
}
.lenders-block{
    padding: 60px 0;
    background: #fff;
}
.channel-partner-block{
    padding: 60px 0;
    background: #eee;
}

.compare-block{
    padding: 60px 0;
}
.custom-card {
    display: inline-block;
    border-radius: 4px;
    width: 100%;
    background: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    padding: 15px;
}
.t-w-h-block > li {
    max-width: 350px;
    margin: 30px auto;
    position: relative;
}
.t-w-h-block > li:after {
    content: "";
    position: absolute;
    left: 100%;
    right: 0;
    margin: 0 auto;
    top: calc(100% - 15px);
    background: url(../../assets/images/return.svg) no-repeat;
    height: 90px;
    width: 90px;
    background-size: 100% 100%;
}
.t-w-h-block > li:last-child:after{
    display: none;
}
.txt-white{
    color: white !important;
}
/************footer************/
.footer{
    background: rgba(0,0,0,0.8);
    padding: 40px 0;
}
.footer h3{
    font-size:18px;
    color:white;
}
.footer ul li a{
    font-size: 11px;
    color: white;
}
.footer p{
    color: white;
    font-size: 13px;
}
/***********benefit**********/
.benfit-blok {
    padding: 40px 0;
    background: #eee;
}
.custom-card.text-center {
    padding: 25px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.05);
    border-radius: 4px;
    margin: 15px 10px;
}
.custom-card img{
    margin-bottom: 20px;
}
.custom-card p{
    font-size: 14px;
    color: #363636;
}
.about-benefit-block{
    padding: 60px 0;
    background: #f2f2f2;
    
}
ul.about-benefits-list {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.benefits-card {
    width: calc(33.3% - 40px);
    text-align: center;
    padding: 25px;
    font-size: 14px;
    background: white;
    color: #363636;
    margin: 15px 20px;
}
/**********query***********/
.query-block{
    padding: 40px 0;
}
.faq-block .panel-default{
    border-radius: 0;
    border-color: #42519a;
}
.faq-block .panel-default > .panel-heading {
    color: #fff;
    background-color: #42519a;
    border-color: #42519a;
    padding: 20px 15px !important;
    border-radius: 0;
}
.faq-block{
    padding: 40px 0;
}
/**********custom***********/
.custom-btn{
    padding: 10px;
    border-radius: 0;
}
.mrgn-top-35{
    margin-top: 35px;
}